/* 单行超出省略号 */
._qu-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 多行超出省略号，默认两行 */
._qu-ellipsis-multi {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: var(--qu-ellipsis-line-clamp, 2);
    -webkit-line-clamp: var(--qu-ellipsis-line-clamp, 2);
    white-space: normal;
}